.card{
    background-color: rgb(255, 255, 255,0.1);
    height: 100%;
    border-radius: 1rem;
    cursor: pointer;
    padding: 1rem;
    transition: .3s;
    
}

.logo{
    width: 60%;
    margin: auto;
    margin-top: 2rem;
}
.logo img{
    width: 6rem;
    height: auto;
    
}
